{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^astro$",
    "^react$",
    "",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[~]",
    "",
    "^[.]",
    "",
    "<TYPES>",
    "<TYPES>^[.]"
  ],
  "tailwindFunctions": ["clsx"],
  "overrides": [
    {
      "files": ["*.astro", "*.svg"],
      "options": {
        "parser": "astro"
      }
    }
  ]
}
