---
import { cn } from "../../lib/utils/cn";

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div
  class={cn(
    "rounded-lg bg-light-300 text-slate-950 dark:bg-dark-200 dark:text-slate-50",
    className,
  )}
  {...props}
>
  <slot />
</div>
