---
import { cn } from "~/lib/utils/cn";

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"p">;

const { class: className, ...props } = Astro.props;
---

<p
  {...props}
  class={cn("text-sm text-slate-500 dark:text-slate-400", className)}
>
  <slot />
</p>
