---
import Button from "../components/Button.astro";
import Modal from "../components/Modal.astro";
import Select from "../components/Select";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Modal>
    <form>
      <Button type="submit">Test</Button>
      <Select client:visible />
    </form>
  </Modal>
</Layout>
