---
import Button from "./Button.astro";
---

<dialog>
  <button>Close</button>
  <slot />
</dialog>
<Button>OPEN THE MODALLLL</Button>

<script>
  const showButton = document.querySelector("dialog + button")!;
  const closeButton = document.querySelector("dialog > button")!;
  const dialog = document.querySelector("dialog")!;

  showButton.addEventListener("click", () => dialog.showModal());
  closeButton.addEventListener("click", () => dialog.close());
</script>

<style>
  dialog {
    position: relative;
    max-width: 20rem;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
  }

  dialog::backdrop {
    background: hsl(0 0% 0% / 50%);
  }

  dialog > button {
    font-size: 0.75em;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
  }
</style>
