---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";

import { cn } from "~/lib/utils/cn";

import type { Props as ButtonProps } from "./Button.astro";

export type Props = ButtonProps & {
  placeholder?: string;
  display?:
    | "block"
    | "inline-block"
    | "inline"
    | "flex"
    | "flex-inline"
    | "grid"
    | "inline-grid"
    | "contents";
};

const {
  display,
  size = "medium",
  variant = "secondary",
  class: className,
  placeholder = "Cari topik yang lain...",
} = Astro.props;
---

<script src="./ContentToggle.ts"></script>

<content-toggle class="w-full" data-display={display}>
  <Button
    size={size}
    variant={variant}
    class={cn("justify-between font-normal", className)}
  >
    <span class="opacity-50 font-normal">{placeholder}</span>
    <Icon
      name="lucide:search"
      class="text-primary-light dark:text-primary-dark [&_g]:stroke-[3]"
    />
  </Button>
  <slot />
</content-toggle>
