---
import { cn } from "~/lib/utils/cn";

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"td"> & { innerHTML?: string | string[] };

const { class: className, innerHTML, ...props } = Astro.props;
---

<td
  set:html={innerHTML}
  class={cn(
    "px-4 py-2 text-center align-middle [&:has([role=checkbox])]:pr-0",
    className,
  )}
  {...props}
>
  <slot />
</td>
